html {
    
}

body {
    width:90%;
    background-color: rgba(0,100,230,1.0);
    background-size : cover;
}

* {
    margin:0;
}

header {
    
}

footer {
    
}

a {
    text-decoration: none;
}

/** 最終更新日 から 経過しているかのエリアを JavaScriptで表示する **/
#error_difference {
    width:100%;
    margin:5% 0;
    padding:1% 50px;
    background-color:rgba(200,200,0,0.5);
    color:rgba(255,255,255,1.0);
}
/** 最終更新日 から 経過しているかのエリアを JavaScriptで表示する **/
